/*Starry Background for website*/
* {
    margin: 0;
    padding: 0;
}
.space{
	width:auto;
	height: 100px;
}

.title h1{
    font-size: 36px;
    font-family: 'Lato', sans-serif;
    margin-top:10em;
    margin-left: auto;
    margin-right:auto;
    text-align: center;

    /* Styling the text and giving it gradiant */
    color:#ffffff;
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 6px 6px 0px rgba(0,0,0,0.2);

    /* Makes sure text is infront of background assets */
    display:block;
    position: relative;
    z-index: 3;
}


.title p {
	font-size: 26px;
    font-family: 'Lato', sans-serif;
    margin-top:10em;
    margin-left: auto;
    margin-right:auto;
    text-align: center;

    /* Styling the text and giving it gradiant */
    color:#ffffff;
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 6px 6px 0px rgba(0,0,0,0.2);
	/* Makes sure text is infront of background assets */
    display:block;
    position: relative;
    z-index: 3;
}

@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

@keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}

.stars, .twinkling, .clouds {
  position:absolute;
  
  left:0;
  right:0;
 
  width:100%;
  height:100%;
  display:flex;
}

.stars {
  background:#000 url(assets/stars.png) repeat top center;
  z-index:0;
}

.twinkling{
  background:transparent url(assets/twinkling.png) repeat top center;
  z-index:1;
  animation:move-twink-back 200s linear infinite;
}

.clouds{
    background:transparent url(assets/clouds.png) repeat top center;
    z-index:2;
    opacity: .4;
    animation:move-clouds-back 200s linear infinite;
}

.showcase-image {
    margin-left: auto;
    margin-right: auto;
    table-layout: fixed;
    border-collapse: collapse;
    z-index: 3;
    position:relative;
}




/*Adds Underline Effect*/
.hover-underline-animation {
	display: inline-block;
	position: relative;
	color: #0087ca;
  }
  
  .hover-underline-animation:after {
	content: '';
	position: absolute;
	width: 100%;
	transform: scaleX(0);
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: #0087ca;
	transform-origin: bottom right;
	transition: transform 0.25s ease-out;
  }
  
  .hover-underline-animation:hover:after {
	transform: scaleX(1);
	transform-origin: bottom left;
  }























/*Main Content Styling*/

#main{
	height: 100vh;
	background-image: url("milky_way_starry_background.jpeg");
	
}

#introduction{

	padding-right:40px 
}
:root{
	--mainColor:#eaeaea;
	--secondaryColor:#fff;

	--borderColor:#c1c1c1;

	--mainText:black;
	--secondaryText:#4b5156;

	--themeDotBorder:#24292e;

	--previewBg:rgb(251, 249, 243, 0.8);
	--previewShadow:#f0ead6;


	--buttonColor:black;


}




h1, h2, h3, h4, h5, h6, strong{
	color: var(--mainText);
	font-family: 'Russo One', sans-serif;
	font-weight: 500;
}

p, li, span, label, input, textarea{
	
	font-family: 'Roboto Mono', monospace;
}

a{
	text-decoration: none;
	color:#17a2b8;
}

ul{
	list-style: none;
}

h1 { font-size: 56px;}
h2 { font-size: 36px;}
h3 { font-size: 28px;}
h4 { font-size: 24px;}
h5 { font-size: 20px;}
h6 { font-size: 16px;}






.important-header{
	display: flex;
	justify-content: space-evenly;
	background-color: var(--previewShadow);
}

#about{
	display: flex;
	justify-content: space-evenly;
	background:#000 url(assets/stars.png) repeat top center;
	z-index:0;
}


/* Skills Section Box*/
#skills{
	display: flex;
	justify-content: space-evenly;
	background:#000 url(assets/stars.png) repeat top center;
	z-index:0;
	
}


.skill-list{
	padding-right:10px;
	padding-left:0px;
	width:100%;
	overflow:scroll;
}

.social-links{
	display: grid;
	align-content: center;
	text-align: center;
	
}

#social_img{
	width: 100%;
}


/* Project Thumbnail Image Boxes*/
.thumbnail{
	
	width: 100%;
	height: 30vh;
	object-fit: contain, cover;
}



#projects{
	background:#000 url(assets/stars.png) repeat top center;
	z-index:0;
	width:100%;
	
}



.coffee{
	display:block;
	width:700px;
	background:#000 url(assets/tea-cupWalkingWithATeaBagBriefcase.jpg) repeat top center;
	z-index:0;
}

	

/* Contact Form Styling*/

#contact-form{
	display: block;
	max-width: 600px;
	margin: 0 auto;
	border: 1px solid var(--borderColor);
	padding: 15px;
	border-radius: 5px;
	background-color: var(--mainColor);
	margin-bottom: 50px;
	

}







#contact-form label{
	line-height: 2.7em;
}

#contact-form textarea{
	min-height: 100px;
	font-size: 14px;
}


.input-field{
	width: 100%;
	padding-top: 10px;
	padding-bottom:10px; 
	background-color: var(--secondaryColor);
	border-radius: 5px;
	border:1px solid var(--borderColor);
	font-size: 14px;
}


#submit-btn{
	margin-top: 10px;
	width: 100%;
	padding-top: 10px;
	padding-bottom:10px; 
	color: #fff;
	background-color: var(--buttonColor);
	border:none;
}



h1 {
	color: #000000
}


/*Skill elements*/ 

.skill-elements {
	max-width: 68.75rem;
	margin: auto;
	text-align: center;
	margin-top: 2.5rem;
  }
  
  .skill-header {
	margin-bottom: 1rem;
  }
  
  .skills-wrapper img {
	padding: 1.25rem;
  }
  
  .icon {
	width: 8rem;
	height: 8rem;
  }
  
  .icon-card {
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 0 3px 10px var(--secondary-shadow);
  padding: 0px;
  margin: 4px;
}

#about p{
	
		text-indent: 50px;
		color:white;
	
}











.buttons {
	margin-bottom: 10px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	
}
.primary-btn {
	display: inline-block;
	background-color: var(--primary-color);
	color: white;
	font-size: 1.8rem;
	padding: 0.6em 1.6em;
	border-radius: 50px;
}
.buttons .primary-btn.outline {
	background-color: transparent;
	border: 2px solid var(--primary-color);
	color: var(--primary-color);
}

/*making project boxes the same size*/
.card {
	position: relative;
	width: 330px;
	height: 550px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	-webkit-perspective: 3000px;
	-moz-perspective: 3000px;
	perspective: 3000px;
	cursor: pointer;
}



	.card{

		width: 100%;
		
		}
/*Fixed project card overlap and responsiveness*/		
		@media(max-width: 768px){
		.card{
		width: 10rem;
		width: 100%;
		height: 18rem;
		}
		}




	



  
 /*making images less blurry*/ 
.img-responsive{
	
	image-rendering: -webkit-optimize-contrast;	
  }
  


  .card img {
	
	width: calc(330px - 10px);
	height: calc(545px - 45px);
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	border-style: solid;
	border-color: rgba(0,0,0,0.16);
	border-bottom-width: 1px;
	width:100%;
  

  }
/*Fixed project card overlap and responsiveness*/
  @media(max-width: 768px){
	.card img{
	width: 10rem;
	width: 100%;
	height: 18rem;
	}
	}



 /*adding hover effect to cards*/  
  .card_front, .card_back {
	position: absolute;
	left: 0px;
	top: 0px;
	width: inherit;
	height: inherit;
	border-style: solid;
	border-width: 0px;
	border-radius: 6px;
	border-color: #666;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: -webkit-transform 0.9s ease-in-out;
	transition: transform 0.9s ease-in-out;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)
  }
  
 
  .card_front:hover, .card_back:hover {
	left: -4px;
	top: -4px;
	box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.5);
  }
 /*adding flip effect to cards*/ 
  .card_front {
	background-color: white;
	
  }
  
  .card_back {
	background-color: #fafffc;
	-webkit-transform: rotateY(179deg);
	-ms-transform: rotateY(179deg);
	transform: rotateY(179deg);
	overflow:scroll;
  }
  
  .card.effect_click.flipped .card_front {
  
	-webkit-transform: rotateY(-179deg);
	-ms-transform: rotateY(-179deg);
	transform: rotateY(-179deg);
  }
  
  .card.effect_click.flipped .card_back {
  
	-webkit-transform: rotateY(0deg);
	-ms-transform: rotateY(0deg);
	transform: rotateY(0deg);
  }